<aside class="sidebar">
    <!-- sidebar close btn -->
     <button type="button" class="sidebar-close-btn text-gray-500 hover-text-white hover-bg-main-600 text-md w-24 h-24 border border-gray-100 hover-border-main-600 d-xl-none d-flex flex-center rounded-circle position-absolute"><i class="ph ph-x"></i></button>
    <!-- sidebar close btn -->
    
    <a (click)="global.setRoute('home')" style="cursor: pointer;" class="sidebar__logo text-center p-20 position-sticky inset-block-start-0 bg-white w-100 z-1 pb-10">
        <img src="assets/images/logo/logo.png" alt="Logo">
    </a>

    <div class="sidebar-menu-wrapper overflow-y-auto scroll-sm">
        <div class="p-20 pt-10">
            <ul class="sidebar-menu">
                <li (click)="global.setRoute('home')" class="sidebar-menu__item">
                    <a  style="cursor: pointer;" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-house"></i></span>
                        <span class="text">Home</span>
                    </a>
                </li>
               
                <li (click)="global.setRoute('supervisors')" class="sidebar-menu__item">
                    <a  style="cursor: pointer;" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-users"></i></span>
                        <span class="text">Supervisors</span>
                    </a>
                </li>
                <li (click)="global.setRoute('technicals')" class="sidebar-menu__item">
                    <a style="cursor: pointer;"   class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-users-three"></i></span>
                        <span class="text">Technicals</span>
                    </a>
                </li>

                <li  class="sidebar-menu__item">
                    <a  style="cursor: pointer;"  class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-user"></i></span>
                        <span class="text">Customers</span>
                    </a>
                </li>
                <li  class="sidebar-menu__item">
                    <a style="cursor: pointer;" (click)="global.setRoute('work-instructions')" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-clipboard-text"></i></span>
                        <span class="text">Work Instructions</span>
                    </a>
                </li>
                <li  class="sidebar-menu__item">
                    <a  class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-bookmarks"></i></span>
                        <span class="text">Activity</span>
                    </a>
                </li>
                <li  class="sidebar-menu__item">
                    <a class="sidebar-menu__link">
                      <span class="icon"><i class="ph ph-chart-bar"></i></span>
                      <span class="text">Reports</span>
                    </a>
                </li>         
                
            </ul>
        </div>
        
    </div>

</aside> 