<app-sidebar *ngIf="global.activeRoute !== 'register' && global.activeRoute !== 'login'"></app-sidebar>
	<app-top-navbar *ngIf="global.activeRoute !== 'register' && global.activeRoute !== 'login'"></app-top-navbar>

<app-home [hidden]="global.activeRoute!='home'"></app-home>
<app-register [hidden]="global.activeRoute!='register'"></app-register>
<app-login [hidden]="global.activeRoute!='login'"></app-login>
<app-form-request [hidden]="global.activeRoute!='form-request'"></app-form-request>
<app-supervisors [hidden]="global.activeRoute!='supervisors'"></app-supervisors>
<app-technicals [hidden]="global.activeRoute!='technicals'"></app-technicals>
<app-work-instructions [hidden]="global.activeRoute!='work-instructions'"></app-work-instructions>